body {
    font-family: Arial, sans-serif;
    background-color: #ffdb58; /* Mustard yellow background */
    color: #ff0000; /* Red text color */
  }
  .logo {
    text-align: center;
    margin: 20px;
  }
  .membros {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  .membro {
    cursor: pointer;
    position: relative;
  }
  .membro:hover .menu-social {
    display: block;
  }
  .menu-social {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .objetivo {
    margin: 20px;
  }
  .arquivos {
    margin: 20px;
  }
   .pdf-viewer {
    border: 2px solid #ff0000; /* Borda vermelha */
    padding: 10px;
    background-color: #ffffff; /* Fundo branco */
    text-align: center; /* Centraliza o conteúdo */
  }

  .pdf-button {
    background-color: #ffdb58; /* Fundo amarelo mostarda */
    color: #ff0000; /* Texto vermelho */
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }

  .pdf-button:hover {
    background-color: #e6c300; /* Fundo amarelo escuro ao passar o mouse */
  }